<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,206}}</string>
                <key>sourceSize</key>
                <string>{480,206}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{480,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,206}}</string>
                <key>sourceSize</key>
                <string>{480,206}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{480,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,206}}</string>
                <key>sourceSize</key>
                <string>{480,206}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,210},{480,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,206}}</string>
                <key>sourceSize</key>
                <string>{480,206}</string>
            </dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{480,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,206}}</string>
                <key>sourceSize</key>
                <string>{480,206}</string>
            </dict>
            <key>06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{480,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,206}}</string>
                <key>sourceSize</key>
                <string>{480,206}</string>
            </dict>
            <key>07.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,210},{480,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,206}}</string>
                <key>sourceSize</key>
                <string>{480,206}</string>
            </dict>
            <key>08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{480,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,206}}</string>
                <key>sourceSize</key>
                <string>{480,206}</string>
            </dict>
            <key>09.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{480,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,206}}</string>
                <key>sourceSize</key>
                <string>{480,206}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,206}}</string>
                <key>sourceSize</key>
                <string>{480,206}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>begin1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7224c008efe4f67d5c4a38fdb39650af:1/1$</string>
            <key>textureFileName</key>
            <string>begin1.png</string>
        </dict>
    </dict>
</plist>
