<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dlrh_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,656},{260,278}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,42},{260,278}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>dlrh_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,338},{258,276}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,43},{258,276}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>dlrh_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,616},{252,268}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,47},{252,268}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>dlrh_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,546},{256,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,59},{256,242}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>dlrh_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{256,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,51},{256,258}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>dlrh_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{256,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,43},{256,274}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>dlrh_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{256,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,35},{256,290}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>dlrh_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{292,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,22},{292,316}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>dlrh_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{324,334}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>dlrh_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,804},{216,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,56},{216,248}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>dlrh_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,262},{224,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,52},{224,256}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>dlrh_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,278},{232,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,47},{232,266}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dlrhtx.png</string>
            <key>size</key>
            <string>{1026,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6917c8c1f9fc23ae23f45556deca4f7e$</string>
            <key>textureFileName</key>
            <string>dlrhtx.png</string>
        </dict>
    </dict>
</plist>
