<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ggjs_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,344}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,0},{194,344}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ggjs_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,668},{288,228}}</string>
                <key>offset</key>
                <string>{-14,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,124},{288,228}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ggjs_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{304,226}}</string>
                <key>offset</key>
                <string>{-15,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,126},{304,226}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ggjs_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{314,236}}</string>
                <key>offset</key>
                <string>{-14,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,116},{314,236}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ggjs_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{318,234}}</string>
                <key>offset</key>
                <string>{-10,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,117},{318,234}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ggjs_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,318},{276,244}}</string>
                <key>offset</key>
                <string>{10,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,106},{276,244}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ggjs_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{252,248}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,100},{252,248}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ggjs_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{258,246}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,94},{258,246}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ggjs_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,252},{224,222}}</string>
                <key>offset</key>
                <string>{5,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,113},{224,222}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ggjs_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,262},{178,134}}</string>
                <key>offset</key>
                <string>{-1,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,200},{178,134}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ggjstx.png</string>
            <key>size</key>
            <string>{938,974}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68f8f39aab873d18b7cbecac7b0878e8$</string>
            <key>textureFileName</key>
            <string>ggjstx.png</string>
        </dict>
    </dict>
</plist>
