<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hlz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{58,56}}</string>
                <key>offset</key>
                <string>{6,-151}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,423},{58,56}}</string>
                <key>sourceSize</key>
                <string>{360,600}</string>
            </dict>
            <key>hlz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,576},{154,468}}</string>
                <key>offset</key>
                <string>{6,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,28},{154,468}}</string>
                <key>sourceSize</key>
                <string>{360,600}</string>
            </dict>
            <key>hlz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{360,572}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{360,572}}</string>
                <key>sourceSize</key>
                <string>{360,600}</string>
            </dict>
            <key>hlz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,572}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{360,572}}</string>
                <key>sourceSize</key>
                <string>{360,600}</string>
            </dict>
            <key>hlz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{360,524}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,76},{360,524}}</string>
                <key>sourceSize</key>
                <string>{360,600}</string>
            </dict>
            <key>hlz_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1088},{360,504}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,96},{360,504}}</string>
                <key>sourceSize</key>
                <string>{360,600}</string>
            </dict>
            <key>hlz_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,732},{360,504}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,96},{360,504}}</string>
                <key>sourceSize</key>
                <string>{360,600}</string>
            </dict>
            <key>hlz_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{360,504}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,96},{360,504}}</string>
                <key>sourceSize</key>
                <string>{360,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hlztx.png</string>
            <key>size</key>
            <string>{1014,1450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41418887570b5b1bf913441192ebb437$</string>
            <key>textureFileName</key>
            <string>hlztx.png</string>
        </dict>
    </dict>
</plist>
