<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hqz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{182,94}}</string>
                <key>offset</key>
                <string>{-70,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,170},{182,94}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>hqz_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,186},{74,222}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,34},{74,222}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>hqz_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,410},{62,264}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,26},{62,264}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>hqz_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,186},{64,250}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,36},{64,250}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>hqz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,676},{310,162}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,109},{310,162}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>hqz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{342,182}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,88},{342,182}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>hqz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{342,184}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,91},{342,184}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>hqz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{350,184}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,91},{350,184}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>hqz_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{352,182}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,90},{352,182}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>hqz_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{350,198}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{350,198}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>hqz_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{320,216}}</string>
                <key>offset</key>
                <string>{2,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,37},{320,216}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hqztx.png</string>
            <key>size</key>
            <string>{510,1160}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9d27992e02a0acb8a5faee0f6f840d5$</string>
            <key>textureFileName</key>
            <string>hqztx.png</string>
        </dict>
    </dict>
</plist>
