<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kszd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{360,264}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,57},{360,264}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>kszd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,364},{360,298}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{360,298}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>kszd_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,302},{360,298}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{360,298}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>kszd_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{360,298}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{360,298}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>kszd_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{360,298}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{360,298}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>kszd_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,298}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{360,298}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kszdtx.png</string>
            <key>size</key>
            <string>{992,726}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad9b5169bb177de15b9db5024bf9e858$</string>
            <key>textureFileName</key>
            <string>kszdtx.png</string>
        </dict>
    </dict>
</plist>
