<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ldz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,158},{174,128}}</string>
                <key>offset</key>
                <string>{53,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,80},{174,128}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>ldz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,144}}</string>
                <key>offset</key>
                <string>{19,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,80},{224,144}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>ldz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{214,154}}</string>
                <key>offset</key>
                <string>{14,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,80},{214,154}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>ldz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{200,164}}</string>
                <key>offset</key>
                <string>{10,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,79},{200,164}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>ldz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{190,174}}</string>
                <key>offset</key>
                <string>{7,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,72},{190,174}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>ldz_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,314},{182,144}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,62},{182,144}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ldztx.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1244534bb968747ef2fd268315476a51$</string>
            <key>textureFileName</key>
            <string>ldztx.png</string>
        </dict>
    </dict>
</plist>
