<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mrj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,506},{168,150}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,128},{168,150}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>mrj_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,292}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,21},{90,292}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>mrj_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,574},{88,252}}</string>
                <key>offset</key>
                <string>{2,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,20},{88,252}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>mrj_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{96,268}}</string>
                <key>offset</key>
                <string>{3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,19},{96,268}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>mrj_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{182,170}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,108},{182,170}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>mrj_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{184,182}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,96},{184,182}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>mrj_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,824},{184,186}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,96},{184,186}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>mrj_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,828},{192,194}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,95},{192,194}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>mrj_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,278},{226,220}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,86},{226,220}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>mrj_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,574},{244,248}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,73},{244,248}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>mrj_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{276,264}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,64},{276,264}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>mrj_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{274,268}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,56},{274,268}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mrjtx.png</string>
            <key>size</key>
            <string>{588,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49b2e420ac405a1e91db2756e1e95cc7$</string>
            <key>textureFileName</key>
            <string>mrjtx.png</string>
        </dict>
    </dict>
</plist>
