<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>myz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{196,96}}</string>
                <key>offset</key>
                <string>{-25,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,178},{196,96}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>myz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{238,114}}</string>
                <key>offset</key>
                <string>{-12,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,158},{238,114}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>myz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,656},{248,136}}</string>
                <key>offset</key>
                <string>{-11,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,140},{248,136}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>myz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{256,148}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,122},{256,148}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>myz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{274,160}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,105},{274,160}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>myz_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,370},{284,172}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,92},{284,172}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>myz_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{288,182}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,83},{288,182}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>myz_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,190}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,76},{288,190}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>myz_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,100},{268,188}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,80},{268,188}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>myztx.png</string>
            <key>size</key>
            <string>{510,806}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae3bc25763a2b10b525bf278292b2b93$</string>
            <key>textureFileName</key>
            <string>myztx.png</string>
        </dict>
    </dict>
</plist>
