<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qbj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{168,164}}</string>
                <key>offset</key>
                <string>{24,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{168,164}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>qbj_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,322}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,23},{48,322}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>qbj_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{240,242}}</string>
                <key>offset</key>
                <string>{-8,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{240,242}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>qbj_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,168},{244,242}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{244,242}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>qbj_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{246,240}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{246,240}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>qbj_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,412},{240,148}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,83},{240,148}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>qbj_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,412},{240,148}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,83},{240,148}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qbj.png</string>
            <key>size</key>
            <string>{496,562}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c6fc41500cd53e790a4f6ad1259559c$</string>
            <key>textureFileName</key>
            <string>qbj.png</string>
        </dict>
    </dict>
</plist>
