<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,514},{150,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,83},{150,112}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>mou_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,362},{150,114}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,82},{150,114}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>mou_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,822},{152,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,80},{152,116}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>mou_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,728},{152,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,80},{152,116}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>mou_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,960},{158,122}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,78},{158,122}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>mou_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,542},{170,134}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,72},{170,134}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>mou_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,542},{176,142}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,68},{176,142}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>mou_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{184,150}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,64},{184,150}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>ptbj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,166}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,87},{304,166}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ptbj_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{302,174}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,85},{302,174}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ptbj_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{302,178}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,85},{302,178}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ptbj_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{302,180}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,86},{302,180}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ptbj_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{300,180}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,87},{300,180}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ptbj_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,178},{300,182}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,87},{300,182}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ptbj_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,184},{300,180}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,88},{300,180}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ptbj_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,362},{298,178}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,90},{298,178}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>ptgj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,536},{252,190}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,31},{252,190}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>ptgj_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{254,168}}</string>
                <key>offset</key>
                <string>{6,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,31},{254,168}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>ptgj_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,366},{254,168}}</string>
                <key>offset</key>
                <string>{6,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,31},{254,168}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>qs_sfzs_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{142,128}}</string>
                <key>offset</key>
                <string>{-25,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,37},{142,128}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>qs_sfzs_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,846},{146,130}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,80},{146,130}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>qs_sfzs_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,686},{168,134}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,76},{168,134}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>qs_sfzs_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,678},{168,140}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,70},{168,140}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>qs_sfzs_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,820},{166,148}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,68},{166,148}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>qs_sfzs_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,814},{158,144}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,79},{158,144}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>qs_sfzs_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,666},{160,146}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,77},{160,146}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>qs_sfzs_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,728},{156,146}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,75},{156,146}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>qs_sfzs_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,940},{130,118}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,75},{130,118}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qstx_01.png</string>
            <key>size</key>
            <string>{1024,1084}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b650bc2bbb88829bf621376a555ace67$</string>
            <key>textureFileName</key>
            <string>qstx_01.png</string>
        </dict>
    </dict>
</plist>
