<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sfzs_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,404},{92,114}}</string>
                <key>offset</key>
                <string>{86,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,19},{92,114}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>sfzs_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,780},{102,284}}</string>
                <key>offset</key>
                <string>{-11,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,73},{102,284}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>sfzs_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,498},{108,280}}</string>
                <key>offset</key>
                <string>{-10,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,67},{108,280}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>sfzs_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,128},{118,274}}</string>
                <key>offset</key>
                <string>{-7,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,69},{118,274}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>sfzs_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{170,124}}</string>
                <key>offset</key>
                <string>{35,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,94},{170,124}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>sfzs_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{304,206}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,83},{304,206}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>sfzs_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{304,206}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,83},{304,206}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>sfzs_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{304,206}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,83},{304,206}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>sfzs_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{304,206}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,83},{304,206}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>sfzs_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,206}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,83},{304,206}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sfzstx.png</string>
            <key>size</key>
            <string>{480,1066}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85c307b23e03e29d1893beeddb347b78$</string>
            <key>textureFileName</key>
            <string>sfzstx.png</string>
        </dict>
    </dict>
</plist>
