<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sjsql_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,212},{108,138}}</string>
                <key>offset</key>
                <string>{1,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,150},{108,138}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>sjsql_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,212},{66,246}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,30},{66,246}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>sjsql_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,956},{64,242}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,32},{64,242}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>sjsql_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{70,260}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,32},{70,260}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>sjsql_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{172,208}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,99},{172,208}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>sjsql_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,460},{212,244}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,60},{212,244}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>sjsql_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{226,258}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,53},{226,258}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>sjsql_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,706},{238,248}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,46},{238,248}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>sjsql_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1120},{250,254}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,39},{250,254}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>sjsql_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{262,268}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,30},{262,268}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>sjsql_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{284,274}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,28},{284,274}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>sjsql_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,276}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,31},{300,276}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sjsqltx.png</string>
            <key>size</key>
            <string>{512,1372}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd0f8ef5019be0a3ae1a6f5891e3e19c$</string>
            <key>textureFileName</key>
            <string>sjsqltx.png</string>
        </dict>
    </dict>
</plist>
