<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sjzs_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{96,210}}</string>
                <key>offset</key>
                <string>{0,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,131},{96,210}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>sjzs_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,898},{102,284}}</string>
                <key>offset</key>
                <string>{-11,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,73},{102,284}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>sjzs_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,616},{108,280}}</string>
                <key>offset</key>
                <string>{-10,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,67},{108,280}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>sjzs_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,340},{118,274}}</string>
                <key>offset</key>
                <string>{-7,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,69},{118,274}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>sjzs_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{96,336}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,5},{96,336}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>sjzs_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{112,336}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,5},{112,336}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>sjzs_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{128,336}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,5},{128,336}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>sjzs_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,336}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,5},{148,336}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>sjzs_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{172,334}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,6},{172,334}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>sjzs_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{212,332}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,6},{212,332}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>sjzs_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{230,332}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,6},{230,332}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sjzstx.png</string>
            <key>size</key>
            <string>{470,1184}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3c27e2f5cf5fc1a2017c42e31e93eaf$</string>
            <key>textureFileName</key>
            <string>sjzstx.png</string>
        </dict>
    </dict>
</plist>
