<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slzs_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,212},{154,150}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,66},{154,150}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>slzs_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,284}}</string>
                <key>offset</key>
                <string>{-11,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,73},{102,284}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>slzs_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{108,280}}</string>
                <key>offset</key>
                <string>{-10,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,67},{108,280}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>slzs_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{118,274}}</string>
                <key>offset</key>
                <string>{-7,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,69},{118,274}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>slzs_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{182,178}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,52},{182,178}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>slzs_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,316},{202,204}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,39},{202,204}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>slzs_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{208,212}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,35},{208,212}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>slzs_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,210},{208,204}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,36},{208,204}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>slzs_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,112},{214,202}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,41},{214,202}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>slzs_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{220,206}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,42},{220,206}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>slzs_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{208,216}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,33},{208,216}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slzstx.png</string>
            <key>size</key>
            <string>{1010,616}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffaed750096cdcba22724e4a9e397869$</string>
            <key>textureFileName</key>
            <string>slzstx.png</string>
        </dict>
    </dict>
</plist>
