<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tgn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,376},{40,122}}</string>
                <key>offset</key>
                <string>{-2,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,37},{40,122}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>tgn_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{116,320}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,24},{116,320}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>tgn_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{104,322}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,23},{104,322}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>tgn_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,322}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,36},{104,322}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>tgn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{40,160}}</string>
                <key>offset</key>
                <string>{-2,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,0},{40,160}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>tgn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{266,308}}</string>
                <key>offset</key>
                <string>{10,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,0},{266,308}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>tgn_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,108},{266,302}}</string>
                <key>offset</key>
                <string>{19,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,4},{266,302}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>tgn_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,120},{272,292}}</string>
                <key>offset</key>
                <string>{23,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,29},{272,292}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>tgn_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{260,292}}</string>
                <key>offset</key>
                <string>{29,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,29},{260,292}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>tgn_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,376},{250,276}}</string>
                <key>offset</key>
                <string>{33,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,52},{250,276}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>tgn_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,164},{104,234}}</string>
                <key>offset</key>
                <string>{17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,45},{104,234}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tgntx.png</string>
            <key>size</key>
            <string>{1016,638}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9e47812bc977becedc824af09d70f52$</string>
            <key>textureFileName</key>
            <string>tgntx.png</string>
        </dict>
    </dict>
</plist>
