<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tlz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,576},{154,468}}</string>
                <key>offset</key>
                <string>{6,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,28},{154,468}}</string>
                <key>sourceSize</key>
                <string>{360,600}</string>
            </dict>
            <key>tlz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{360,572}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{360,572}}</string>
                <key>sourceSize</key>
                <string>{360,600}</string>
            </dict>
            <key>tlz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,572}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{360,572}}</string>
                <key>sourceSize</key>
                <string>{360,600}</string>
            </dict>
            <key>tlz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{360,524}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,76},{360,524}}</string>
                <key>sourceSize</key>
                <string>{360,600}</string>
            </dict>
            <key>tlz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1088},{360,504}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,96},{360,504}}</string>
                <key>sourceSize</key>
                <string>{360,600}</string>
            </dict>
            <key>tlz_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,732},{360,504}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,96},{360,504}}</string>
                <key>sourceSize</key>
                <string>{360,600}</string>
            </dict>
            <key>tlz_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{360,504}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,96},{360,504}}</string>
                <key>sourceSize</key>
                <string>{360,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tlztx.png</string>
            <key>size</key>
            <string>{1014,1450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b932c84083c869a6eed3fac5b8a3d6a$</string>
            <key>textureFileName</key>
            <string>tlztx.png</string>
        </dict>
    </dict>
</plist>
