<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login_bkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,800}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>login_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{420,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,136}}</string>
                <key>sourceSize</key>
                <string>{420,136}</string>
            </dict>
            <key>login_login_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{180,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,49}}</string>
                <key>sourceSize</key>
                <string>{180,49}</string>
            </dict>
            <key>login_login_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,804},{180,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,49}}</string>
                <key>sourceSize</key>
                <string>{180,49}</string>
            </dict>
            <key>login_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,804},{180,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,49}}</string>
                <key>sourceSize</key>
                <string>{180,49}</string>
            </dict>
            <key>login_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,804},{180,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,49}}</string>
                <key>sourceSize</key>
                <string>{180,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_login.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5c72727c447e2504b71504f50bb4242:1/1$</string>
            <key>textureFileName</key>
            <string>ui_login.png</string>
        </dict>
    </dict>
</plist>
