<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wjqf_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{30,98}}</string>
                <key>offset</key>
                <string>{-3,261}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,10},{30,98}}</string>
                <key>sourceSize</key>
                <string>{280,640}</string>
            </dict>
            <key>wjqf_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{154,264}}</string>
                <key>offset</key>
                <string>{-3,150}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,38},{154,264}}</string>
                <key>sourceSize</key>
                <string>{280,640}</string>
            </dict>
            <key>wjqf_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,360}}</string>
                <key>offset</key>
                <string>{-14,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,223},{222,360}}</string>
                <key>sourceSize</key>
                <string>{280,640}</string>
            </dict>
            <key>wjqf_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,284},{266,328}}</string>
                <key>offset</key>
                <string>{-4,-146}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,302},{266,328}}</string>
                <key>sourceSize</key>
                <string>{280,640}</string>
            </dict>
            <key>wjqf_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{280,338}}</string>
                <key>offset</key>
                <string>{0,-151}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,302},{280,338}}</string>
                <key>sourceSize</key>
                <string>{280,640}</string>
            </dict>
            <key>wjqf_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{280,338}}</string>
                <key>offset</key>
                <string>{0,-151}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,302},{280,338}}</string>
                <key>sourceSize</key>
                <string>{280,640}</string>
            </dict>
            <key>wjqf_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{280,328}}</string>
                <key>offset</key>
                <string>{0,-156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,312},{280,328}}</string>
                <key>sourceSize</key>
                <string>{280,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wjqftx.png</string>
            <key>size</key>
            <string>{1018,664}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eaf168fff056d2541efed78e69c9d9ab$</string>
            <key>textureFileName</key>
            <string>wjqftx.png</string>
        </dict>
    </dict>
</plist>
