<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xsj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{208,68}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,150},{208,68}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>xsj_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,94}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,123},{210,94}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>xsj_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{208,126}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,92},{208,126}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>xsj_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,130},{204,142}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,76},{204,142}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>xsj_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{194,148}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,67},{194,148}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>xsj_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,318},{182,152}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,56},{182,152}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>xsj_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{182,154}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,52},{182,154}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xsj.png</string>
            <key>size</key>
            <string>{424,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2023d09c4daa600c82b3b5dff4904133$</string>
            <key>textureFileName</key>
            <string>xsj.png</string>
        </dict>
    </dict>
</plist>
