<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yhly_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2},{54,150}}</string>
                <key>offset</key>
                <string>{-1,161}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,4},{54,150}}</string>
                <key>sourceSize</key>
                <string>{280,480}</string>
            </dict>
            <key>yhly_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,58},{128,208}}</string>
                <key>offset</key>
                <string>{8,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,254},{128,208}}</string>
                <key>sourceSize</key>
                <string>{280,480}</string>
            </dict>
            <key>yhly_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{280,216}}</string>
                <key>offset</key>
                <string>{0,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,247},{280,216}}</string>
                <key>sourceSize</key>
                <string>{280,480}</string>
            </dict>
            <key>yhly_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,230}}</string>
                <key>offset</key>
                <string>{0,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,238},{280,230}}</string>
                <key>sourceSize</key>
                <string>{280,480}</string>
            </dict>
            <key>yhly_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,268},{236,194}}</string>
                <key>offset</key>
                <string>{8,-132}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,275},{236,194}}</string>
                <key>sourceSize</key>
                <string>{280,480}</string>
            </dict>
            <key>yhly_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,452},{246,220}}</string>
                <key>offset</key>
                <string>{9,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,256},{246,220}}</string>
                <key>sourceSize</key>
                <string>{280,480}</string>
            </dict>
            <key>yhly_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,252},{258,198}}</string>
                <key>offset</key>
                <string>{10,-141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,282},{258,198}}</string>
                <key>sourceSize</key>
                <string>{280,480}</string>
            </dict>
            <key>yhly_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{264,204}}</string>
                <key>offset</key>
                <string>{8,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,276},{264,204}}</string>
                <key>sourceSize</key>
                <string>{280,480}</string>
            </dict>
            <key>yhly_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{268,220}}</string>
                <key>offset</key>
                <string>{6,-130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,260},{268,220}}</string>
                <key>sourceSize</key>
                <string>{280,480}</string>
            </dict>
            <key>yhly_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,220},{270,236}}</string>
                <key>offset</key>
                <string>{5,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,244},{270,236}}</string>
                <key>sourceSize</key>
                <string>{280,480}</string>
            </dict>
            <key>yhly_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{270,248}}</string>
                <key>offset</key>
                <string>{5,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,232},{270,248}}</string>
                <key>sourceSize</key>
                <string>{280,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yhlytx.png</string>
            <key>size</key>
            <string>{1012,674}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:865b8deeca1a7a65316c076ed6e85689$</string>
            <key>textureFileName</key>
            <string>yhlytx.png</string>
        </dict>
    </dict>
</plist>
