<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhxj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,428},{278,118}}</string>
                <key>offset</key>
                <string>{-3,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,168},{278,118}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>zhxj_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{128,312}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,31},{128,312}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>zhxj_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,308},{130,302}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,32},{130,302}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>zhxj_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,316}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,32},{128,316}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>zhxj_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,300},{286,126}}</string>
                <key>offset</key>
                <string>{-3,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,160},{286,126}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>zhxj_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,152},{288,146}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,139},{288,146}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>zhxj_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{290,148}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,136},{290,148}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>zhxj_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{294,146}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,135},{294,146}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>zhxj_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,308},{296,154}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,127},{296,154}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>zhxj_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,612},{300,168}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,110},{300,168}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>zhxj_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,616},{302,182}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,92},{302,182}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>zhxj_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{304,198}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,72},{304,198}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>zhxj_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{306,212}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,55},{306,212}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>zhxj_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{306,230}}</string>
                <key>offset</key>
                <string>{2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,38},{306,230}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>zhxj_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,310},{304,242}}</string>
                <key>offset</key>
                <string>{2,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,22},{304,242}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhxjtx.png</string>
            <key>size</key>
            <string>{986,942}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57306899c27dd29365ccba6beed95966$</string>
            <key>textureFileName</key>
            <string>zhxjtx.png</string>
        </dict>
    </dict>
</plist>
